<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is about page</title>
</head>
<body>

<section>

<div class="card mr-3 ml-3">
<div class="card-body">

 <h1 class="text-center"> Your Contact </h1>
 
 
 <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
       <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c :${contacts}">
      <th scope="row" th:text="'SCM2020'+${c.cId}">1</th>
      
       <td> <img src=""  class="my_profile_picture" th:src="@{'/IMAGE/'+${c.image}}" alt="profile photo"/></td>
      <td th:text="${c.name}">Mark</td>
     
      
      <td >
      
      <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">
      
      <span th:text="${c.email}"></span>
      
      </a>
      
      
      </td>
      
      <td th:text="${c.phone}">Otto</td>
      <td >
      
      <!-- <a th:href="@{'/user/delete/'+${c.cId}}" class="btn btn-danger btn-sm">Delete</a>  before  -->
      
     <a  th:onclick="'deleteContact(' + ${c.cId} + ')'" class="btn btn-danger btn-sm">Delete</a>
     
     
     
      <!-- <button class="btn btn-primary btn-sm">Update</button>  initially before update -->
      
         <form method="post"   th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
      
      <button type="submit"   class="btn btn-primary btn-sm">Update</button>
      
      
      </form>
      
      </td>
    </tr>
   
   
  </tbody>
</table>




<!-- pagination  -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li  th:if="${currentPage !=0}" class="page-item"><a th:href="@{'/user/show-contact/' + ${(currentPage-1)}}" class="page-link" href="#">Previous</a></li>
    
    
    
    <li th:classappend="${currentPage == i - 1 ? 'active' : ''}"th:each="i : ${#numbers.sequence(1, totalPages)}"class="page-item"> <a th:href="@{'/user/show-contact/' + ${(i - 1)}}" class="page-link"><span th:text="${i}"></span></a></li>
   
    
    <li th:if="${currentPage+1 !=totalPages}" class="page-item"><a th:href="@{'/user/show-contact/' + ${(currentPage+1)}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>



</div>

</div>
 
 

</section>
	
</body>
</html>