<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-itens-center">

<div class="text-center">

<h class="head">Smart Contact Manager</h1>

<p class="para"> smart collecting  your contact in very smareter way . we provide very 
efficient and smarter way of handling contact</p>


<button class="btn btn-primary btn-lg text-white">Get Start</button>


</div>




</section>
	
</body>
</html>